/*图片验证码*/
.code{
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    z-index: 101;
    display: none;
}
.bd_code{
    width:100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.code_info{
    position: absolute;
    width: 400px;
    height: 200px;
    background: #fff;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    box-shadow: 0px 0px 10px #666;
    border-radius:3px;
}
.code_info>div:nth-child(1){
    width: 360px;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin: 20px auto 0px;
}
.code_info>div:nth-child(1) .tips{
    font-size: 20px;
    margin-left: 5px;
}
.code_input{
    width: 360px;
    height: 52px;
    margin: 20px auto 0px;
    position: relative;
}
.code_input>input{
    width: 100%;
    height: 50px;
    border: none;
    border: 1px solid #ccc;
    outline: none;
    font-size: 24px;
    text-indent: 8px;
}
.code_input>img{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0px;
}
body .button_code{
    width: 360px;
    height: 40px;
    overflow: hidden;
    margin: 25px auto 0px;
}
.send{
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #1bbc9b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
}
.button_code>a:nth-child(1){
    float: left;
}
.button_code>a:nth-child(2){
    float: right;
}
