/*课程*/
.lizi{
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}
.lizi>a{
    display: block;
    width: 608px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0px auto;
}
.lizi>a:nth-last-child(1){
    border-bottom: none;
}
.lizi>a>div{
    float: left;
}
.lizi_img{
    width: 270px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lizi_img>img{
    display: block;
    width: 247px;
    height: 142px;
}
.lizi_text{
    width:338px;
    margin-top: 28px;
}
.lizi_text>div:nth-child(1){
    font-size: 24px;
    color: #000000;
    width: 332px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
}
.lizi_text>div:nth-child(2){
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    padding: 0 auto;
    color: #ff6600;
    margin-top: 16px;
}
.lizi_text>div:nth-child(2)>i{
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration: line-through;
    color: #666666;
    margin-left: 5px;
}
.lizi_text>div:nth-child(3){
    margin-top: 30px;
    height: 18px;
}
.lizi_text>div:nth-child(3)>div{
    float: left;
    font-size: 20px;
    color: #666666;
    margin-left: 5px;
}
.lizi_text>div:nth-child(3)>div:nth-child(1){
    height: 18px;
    background: url(../images/index/clock.jpg) left center no-repeat;
    -moz-background-size:16px 16px; /* 老版本的 Firefox */
    background-size:16px 16px;
    text-indent: 20px;
    line-height: 20px;
}
.lizi_text>div:nth-child(3)>div:nth-child(1)>i{
    font-style: normal;
    margin-left: 5px;
}
.lizi_text>div:nth-child(3)>div:nth-child(2){
    height: 18px;
    line-height: 20px;
    margin-left: 15px;
}
.lizi .lizi_text .free{
    color: #59b111;
}